<template>
  <div class="add-game-section">
    <admin-add-game />
  </div>
</template>

<script>
import AddGame from '~/components/AddGame';

export default {
  layout: 'admin',
  components: {
    'admin-add-game': AddGame
  }
};
</script>

<style lang="scss" scoped>
.add-game-section {
  margin: auto;
  min-width: 25vw;
}
</style>
