<template>
  <v-app id="inspire">
    <v-progress-circular
      v-if="loading"
      class="loading"
      :width="2"
      indeterminate
      color="teal lighten-2"
    ></v-progress-circular>
    <v-card class="games-table">
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          color="teal darken-2"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="games | formateDate('releaseDate')"
        :search="search"
        class="games__table"
      ></v-data-table>
    </v-card>
  </v-app>
</template>

<script>
import { mapState } from 'vuex';
import moment from 'moment';
import axios from 'axios';

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Id',
          value: 'id'
        },
        { text: 'Name', value: 'title' },
        { text: 'Company', value: 'company' },
        { text: 'Category', value: 'category' },
        { text: 'Platform', value: 'platform' },
        { text: 'Release Date', value: 'releaseDate' }
      ],
      games: [],
      loading: false
    };
  },
  computed: {
    ...mapState(['allGames'])
  },
  mounted() {
    (async () => {
      try {
        this.loading = true;
        const response = await axios.get(
          `https://gameshop-626e0.firebaseio.com/.json`
        );
        this.loading = false;
        if (response.data !== null) {
          Object.keys(response.data).forEach(key => {
            if (typeof response.data[key] === 'object') {
              this.games.push({
                id: key,
                title: response.data[key].game.title,
                company: response.data[key].game.company,
                category: response.data[key].game.category,
                platform: response.data[key].game.platform,
                image: response.data[key].game.image,
                releaseDate: response.data[key].game.releaseDate
              });
            } else {
              if (key === 'firstName') {
                this.userName = response.data[key];
                localStorage.setItem('userName', response.data[key]);
              }
            }
          });
        }
      } catch (error) {
        console.log(error);
      }
    })();
  },
  filters: {
    formateDate(objects, key) {
      return objects.map(function(object) {
        object[key] = moment(object[key]).format('L');
        return object;
      });
    }
  },
  layout: 'admin'
};
</script>

<style lang="scss" scoped>
.games-table {
  margin: auto;
  width: 100%;
  max-width: 80vw;
  background-color: rgba($color: #050505, $alpha: 0.2);
}
.games__table {
  background-color: rgba($color: #3a3939, $alpha: 0.6);
}
.loading {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
</style>
