<template>
  <div>
    <admin-settings />
  </div>
</template>

<script>
import GeneralSettings from '~/components/GeneralSettings';

export default {
  layout: 'admin',
  components: {
    'admin-settings': GeneralSettings
  }
};
</script>

<style lang="scss" scoped>
</style>
