<template>
  <v-app>
    <v-data-table
      :headers="headers"
      :items="desserts"
      sort-by="calories"
      class="users-table"
    >
      <template v-slot:top>
        <v-toolbar flat color="black">
          <v-toolbar-title>User List</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="teal lighten-2" dark class="mb-2" v-on="on"
                >New Item</v-btn
              >
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.email"
                        label="Email"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.firstName"
                        label="First Name"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.secondName"
                        label="Second Name"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="teal lighten-2" text @click="close">Cancel</v-btn>
                <v-btn color="teal lighten-2" text @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    headers: [
      { text: 'First Name', value: 'firstName' },
      { text: 'Second Name', value: 'secondName' },
      { text: 'Email', value: 'email' },
      { text: 'Actions', value: 'actions', sortable: false }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      email: '',
      firstName: 0,
      secondName: 0
    },
    defaultItem: {
      email: '',
      firstName: 0,
      secondName: 0
    }
  }),

  layout: 'admin',

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item';
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.desserts = [
        {
          email: 'Frozen Yogurt',
          firstName: 159,
          secondName: 6.0,
        },
        {
          email: 'Ice cream sandwich',
          firstName: 237,
          secondName: 9.0
        },
        {
          email: 'Eclair',
          firstName: 262,
          secondName: 16.0
        },
        {
          email: 'Cupcake',
          firstName: 305,
          secondName: 3.7
        },
        {
          email: 'Gingerbread',
          firstName: 356,
          secondName: 16.0
        },
        {
          email: 'Jelly bean',
          firstName: 375,
          secondName: 0.0
        },
        {
          email: 'Lollipop',
          firstName: 392,
          secondName: 0.2
        },
        {
          email: 'Honeycomb',
          firstName: 408,
          secondName: 3.2
        },
        {
          email: 'Donut',
          firstName: 452,
          secondName: 25.0
        },
        {
          email: 'KitKat',
          firstName: 518,
          secondName: 26.0
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm('Are you sure you want to delete this item?') &&
        this.desserts.splice(index, 1);
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>

<style lang="scss" scoped>
.users-table {
  margin: auto;
  width: 100%;
  max-width: 80vw;
  background-color: rgba($color: #3a3939, $alpha: 0.6);
}
</style>
