<template>
  <v-app id="addGame" class="add-game">
    <transition name="fade">
      <v-alert v-if="success" type="success">
        Game successfully added
      </v-alert>
    </transition>
    <transition name="fade">
      <v-alert v-if="showError" type="error">
        {{ error }}
      </v-alert>
    </transition>
    <v-progress-circular
      v-if="loading"
      class="loading"
      :width="2"
      indeterminate
      color="teal lighten-2"
    ></v-progress-circular>
    <v-form id="addGameForm" ref="form" class="add-game-form">
      <div class="add-game__header">
        <h5>Add new game</h5>
      </div>
      <div class="add-game__body">
        <v-text-field
          v-model="game.title"
          :rules="titleRules"
          label="Title"
          color="teal lighten-2"
          class="add-game__title-input"
          required
        />
        <v-text-field
          v-model="game.company"
          :rules="companyRules"
          label="Company"
          color="teal lighten-2"
          class="add-game__title-input"
          required
        />
        <v-select
          :items="categories"
          :rules="categoryRules"
          v-model="game.category"
          class="add-game__title-input mt-5"
          label="Category"
          color="teal lighten-2"
          dense
        ></v-select>
        <v-select
          v-model="game.platform"
          :rules="platformRules"
          :items="platforms"
          class="add-game__title-input mt-5"
          label="Platform"
          color="teal lighten-2"
          dense
        ></v-select>
        <v-file-input
          id="gameImage"
          v-model="game.image"
          label="Image"
          :rules="imageRules"
          color="teal lighten-2"
          accept="image/*"
          class="add-game__file"
          required
        />
        <!-- @change="onFileSelected" -->
        <!-- <input
          id="gameImage"
          type="file"
          ref="gameImage"
          @change="onFileSelected"
        /> -->
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="game.releaseDate"
          transition="scale-transition"
          color="teal lighten-2"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="game.releaseDate"
              label="Select date"
              prepend-icon="event"
              color="teal lighten-2"
              :rules="dateRules"
              class="game-add__date"
              readonly
              v-on="on"
              required
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="game.releaseDate"
            type="date"
            color="teal lighten-2"
            no-title
            scrollable
          >
            <v-spacer></v-spacer>
            <v-btn text color="teal lighten-2" @click="menu = false"
              >Cancel</v-btn
            >
            <v-btn
              text
              color="teal lighten-2"
              @click="$refs.menu.save(game.releaseDate)"
              >OK</v-btn
            >
          </v-date-picker>
        </v-menu>
      </div>
      <div class="add-game__footer">
        <v-btn :disabled="!valid" color="teal lighten-2" @click="submit">
          Add
        </v-btn>
        <v-btn color="warning" @click="reset">
          Clear
        </v-btn>
      </div>
    </v-form>
  </v-app>
</template>

<script>
import axios from 'axios';
import moment from 'moment';

export default {
  data: () => ({
    menu: false,
    modal: false,
    name: '',
    submitStatus: null,
    game: {
      title: '',
      company: '',
      category: '',
      platform: '',
      image: null,
      releaseDate: ''
    },
    categories: [
      'Action',
      'Adventure',
      'Editors',
      'Puzzle',
      'Racing',
      'RPG',
      'Shooter',
      'Strategy',
      'Survival'
    ],
    platforms: ['Playstation 4', 'Xbox One', 'Nintendo Switch'],
    success: false,
    valid: true,
    titleRules: [v => !!v || 'Title is required'],
    companyRules: [v => !!v || 'Company is required'],
    imageRules: [v => !!v || 'Image is required'],
    categoryRules: [v => !!v || 'Category is required'],
    platformRules: [v => !!v || 'Platform is required'],
    dateRules: [v => !!v || 'Date is required'],
    loading: false,
    error: '',
    showError: false
  }),
  methods: {
    submit() {
      const game = {
        title: this.game.title,
        company: this.game.company,
        category: this.game.category,
        platform: this.game.platform,
        image: this.game.image,
        releaseDate: moment(this.game.releaseDate).toDate()
      };
      this.$refs.form.validate();
      if (this.$refs.form.validate()) {
        this.loading = true;
        axios
          .post('https://gameshop-626e0.firebaseio.com/.json', {
            game
          })
          .then(() => {
            this.loading = false;
            this.success = true;
            this.$refs.form.reset();

            setTimeout(() => {
              this.success = false;
            }, 1500);
          })
          .catch(error => {
            this.loading = false;
            this.error = error.response.data.error.message;;
            this.showError = true;

            setTimeout(() => {
              this.showError = false;
            }, 1500);
          });
      }
    },
    reset() {
      this.$refs.form.reset();
    }
  }
};
</script>

<style lang="scss" scoped>
#addGame {
  min-height: none !important;
}
.add-game__body {
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  align-items: flex-start;
  // border: 2px solid #4f5256;

  .invalid {
    box-shadow: 0px 0px 7px 2px rgba(255, 0, 0, 1);
  }

  label {
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #4f5256;
    border: 1px solid #4f5256;
    border-radius: 2px;
    padding: 6px 12px;
    outline: none;
  }
}
.add-game__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-game__submit-btn {
  font-size: 18px;
  background-color: #2b7873;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #2b7873;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
  &:hover {
    background-color: #004445;
  }
}

.add-game__link--forgot {
  font-size: 14px;
  color: grey;
  text-decoration: none;
  background-color: transparent;
}
.add-game__link--forgot--link {
  text-decoration: none;
}
.add-game-form {
  max-width: 450px;
  padding: 2rem 0;
  margin: auto 0;
}
.add-game__header {
  padding: 0.7rem 0;
  font-size: 1.5rem;
  text-align: center;
}
.add-game__file {
  width: 100%;
}
.add-game__title-input {
  width: 100%;
}
.game-add__date {
  width: 100%;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
</style>
