<template>
  <div class="game-card">
    <div class="game-card-content">
      <div class="game-card__img" @click="showBuyModal">
        <img :src="game.image" class="game-card__image" alt="Game" />
      </div>
      <div class="game-card-info">
        <div class="game-card__description">
          <div class="game-card-name">
            <span class="game-card__name">
              Name:
            </span>
            <span class="game-card__game-name">
              {{ game.title }}
            </span>
          </div>
          <div class="game-card-company">
            <span class="game-card__company">
              Company:
            </span>
            <span class="game-card__game-company">
              {{ game.company }}
            </span>
          </div>
        </div>
        <div class="game-card-category-platform">
          <div class="game-card__category">
            <span class="game-card__game-category">Category: </span>
            <span class="game-card__grey-text">{{ game.category }}</span>
          </div>
          <div class="game-card__category">
            <span class="game-card__game-category">Platform: </span
            ><span class="game-card__grey-text">{{ game.platform }}</span>
          </div>
          <div class="game-card__platform">
            <span class="game-card__game-platform">Release: </span
            ><span class="game-card__grey-text">{{
              game.releaseDate | formateDate
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    game: {
      type: Object,
      require: true
    }
  },
  filters: {
    formateDate(object) {
      return moment(object).format('L');
    }
  },
  methods: {
    showBuyModal() {
      this.$store.commit('TOGGLE_MODAL', { buyGame: true, game: this.game });
    }
  }
};
</script>

<style lang="scss" scoped>
.game-card {
  max-width: 275px;
  padding: 0 1rem;
  margin: 10px 0 !important;
}
.game-card-link {
  height: 100%;
  width: 100%;
  margin-right: 20px;
  text-decoration: none;
}
.game-card__img {
  cursor: pointer;
  background-color: #000;

  img {
    &:hover {
      opacity: 0.8;
    }
    transition: all 0.3s;
    height: 100vh;
    width: 100%;
  }
}
.game-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.game-card__game-name {
  color: #fff;
  text-decoration: none;
}
.game-card__description {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.game-card__game-company {
  color: #787878;
}
.game-card__sales-percentage {
  background-color: #0078f2;
  padding: 0.19rem 0.38rem;
  margin-right: 0.5rem;
  color: #fff;
}

.game-card__name {
  color: #fff;
}

.game-card__game-category {
  display: flex;
  width: 100%;
  max-width: 120px;
  color: #fff;
}
.game-card__game-platform {
  display: flex;
  width: 100%;
  max-width: 120px;
  color: #fff;
}
.game-card__grey-text {
  color: grey;
}
.game-card__category,
.game-card__platform {
  display: flex;
  align-items: center;
  margin: 3px 0;
}
.game-card-name,
.game-card-company {
  display: flex;
  margin: 3px 0;
}
.game-card__name,
.game-card__company {
  color: white;
  width: 100%;
  max-width: 120px;
}
.game-card-category-platform {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game-card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.game-card__image {
  max-width: 235px;
  max-height: 300px;
}
</style>
