<template>
  <v-app id="inspire">
    <div class="user-settings__header">
      <h3>General settings</h3>
    </div>
    <div class="filter">
      <!-- Show
      <select name="select">
        <option value="Users">Users</option>
        <option value="Games">Games</option>
        <option value="Listings">Listings</option>
      </select> -->
      <v-select
        :items="filter"
        :menu-props="{ top: true, offsetY: true }"
        color="teal lighten-2"
        label="Show"
      ></v-select>
    </div>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    users: [
      {
        name: 'Maks',
        surname: 'Luniak'
      }
    ],
    filter: ['Users', 'Games', 'Listings']
  })
};
</script>

<style lang="scss" scoped>
.user-settings__header {
  text-align: center;
  margin-bottom: 0.5rem;
}
.filter {
  option {
    background-color: black;
  }
}
.v-application--wrap {
  padding: 1rem !important;
}
#inspire {
  & > div {
    border: 10px solid white;
  }
  .v-application--wrap {
    border: 10px solid white !important;
  }
}
</style>
