* {
  font-family: 'Montserrat', sans-serif;
}

.layout-enter-active,
.layout-leave-to {
  transition: opacity .3s, transform .3s;
}

.layout-enter,
.layout-leave-to {
  transform: scale(0.75);
  opacity: 0;
}

#__nuxt {
  background-image: url('~assets/background-loading.gif');
  background-size: auto auto;
  background-position: center 34vh;
  background-color: black;
}

.v-application {
  background: transparent !important;
}

.v-application--wrap {
  min-height: none !important;
    padding: 1rem ;
}

.VueCarousel-navigation-button {
  color: white !important;
  outline: none !important;
}

.VueCarousel-navigation-button:focus {
  outline: none !important;
}

.VueCarousel-navigation-next {
  right: 5px;
}

.VueCarousel-navigation-prev {
  left: 5px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
