<template>
  <transition name="layout" mode="out-in">
    <div class="container">
      <div class="user-panel">
        <div
          class="user-panel-navigation"
          :class="{ 'user-panel-navigation--active': showMenu }"
        >
          <div class="user-panel-links">
            <div class="user-panel__logo">
              <span class="user-panel__logo-text">Hello Admin!</span>
            </div>
            <div class="user-link user-link--dropdown" @click="toggleDropdown">
              <span>General</span
              ><v-icon
                medium
                color="#FFFFFF"
                :class="{ 'user-link__dropdown-arrow--active': showDropdown }"
                >mdi-chevron-down</v-icon
              >
            </div>
            <div
              class="user-links-dropdown"
              :class="{ 'user-links-dropdown--active': showDropdown }"
            >
              <nuxt-link
                to="/Admin/UsersList"
                tag="div"
                class="user__link user__link--dropdown"
                >Users</nuxt-link
              >
              <nuxt-link
                to="/Admin/GamesList"
                tag="div"
                class="user__link user__link--dropdown"
                >Games</nuxt-link
              >
            </div>
            <!-- <div class="user__link"> -->
            <nuxt-link to="/Admin/AddGame" tag="div" class="user__link"
              >Add Game</nuxt-link
            >
            <!-- </div> -->
          </div>
          <div class="user-link-log-out">
            <nuxt-link to="/" tag="div" class="user__link-log-out"
              >Log Out</nuxt-link
            >
          </div>
        </div>
        <div class="user-panel-content">
          <div class="user-panel-content__header">
            <div
              class="user-panel-btn"
              :class="{ 'user-panel-btn--active': showMenu }"
              @click="toggleMenu"
            >
              <span class="user-menu__up"></span>
              <span class="user-menu__middle"></span>
              <span class="user-menu__down"></span>
            </div>
            <!-- <component :is="component"><div>Hello</div></component> -->
          </div>
          <nuxt />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data: () => ({
    showMenu: true,
    showDropdown: true
  }),
  layout: 'default',
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
    toggleDropdown() {
      this.showDropdown = !this.showDropdown;
    }
  }
};
</script>

<style lang="scss" scoped>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
.container {
  min-height: 100vh;
  padding: 0;
  max-width: none;
  background-image: url('~assets/background3.jpg');
}
.user-panel {
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  background-color: rgba($color: #000000, $alpha: 0.7);

  * {
    white-space: nowrap;
  }
}
.user-panel-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba($color: #2b7873, $alpha: 0.5);
  width: 0px;
  // max-width: 300px;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

.user-panel-navigation--active {
  width: 15vw;
  // max-width: 300px;
  transition: all 0.4s easy-in-out;
}

.user__link--dropdown {
  background-color: rgba($color: #102a29, $alpha: 1);
}

.user-panel-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.user__link {
  cursor: pointer;
  padding: 15px;
  color: white;
  transition: all 0.3s ease-in-out;
  border-left: 1px solid #163c3a;
  &:hover {
    border-left: 3px solid #2b7873;
  }
}

.user-link--dropdown {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-left: 1px solid #163c3a;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-left: 3px solid #2b7873;
  }
}

.user-panel-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user__link--red {
  padding: 0;
  border-left: 1px solid #163c3a;

  &:hover {
    border-left: 3px solid red;
  }
}

.user-panel__logo {
  padding: 1rem 1rem 2rem 1rem;
}

.user-panel__logo-text {
  font-size: 2rem;
}

.user-panel-btn {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  width: 20px;
  z-index: 150;

  span {
    width: 20px;
    margin: 2px 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }
}

.user-panel-btn--active {
  .user-menu__middle {
    transform: translateX(-20px);
    opacity: 0;
  }
  .user-menu__up {
    transform: rotate(45deg);
    transform-origin: 1px 2px;
  }
  .user-menu__down {
    transform: rotate(-45deg);
    transform-origin: 2px 1px;
  }
}

.nuxt-link-active {
  text-decoration: none;
  color: white;
  border-left: 3px solid white;
}

.user__link-log-out {
  display: flex;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-left: 1px solid #163c3a;
  transition: all 0.3s easy-in-out;

  &:hover {
    border-left: 3px solid red;
  }
}

.user-link__dropdown-arrow--active {
  transform: rotate(180deg);
}

.user-links-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.user-links-dropdown--active {
  max-height: 100px;
  transition: max-height 0.25s ease-in;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
</style>
