<template>
  <div class="container">
    <h1 v-if="error.statusCode === 404">Страница не найдена</h1>
    <h1 v-else>Произошла ошибка</h1>
    <nuxt-link to="/" tag="button" class="back-link">Вернуться на главную</nuxt-link>
  </div>
</template>

<script>
export default {
  props: ['error']
};
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.back-link {
  border: 1px solid gray;
  background-color: transparent;
  padding: 15px;
  margin: 10px 0;
  &:hover{
    border: 1px solid lightgray;
  }
}
</style>
