<template>
  <transition name="layout" mode="out-in">
    <div class="layout-wrapper">
      <app-header />
      <transition name="page">
        <component :is="showModal" v-bind="currentProperties"></component>
      </transition>
      <nuxt />
    </div>
  </transition>
</template>

<script>
import Header from '~/components/TheHeading.vue';
import LoginModal from '~/components/Forms/LoginModal';
import RegistrationModal from '~/components/Forms/RegistrationModal.vue';
import BuyModal from '~/components/Forms/BuyForm.vue';
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState([
      'showModalLogin',
      'showModalRegister',
      'showBuyModal',
      'game'
    ]),
    showModal() {
      if (this.showModalLogin) {
        return `app-login`;
      } else if (this.showModalRegister) {
        return `app-registration`;
      } else if (this.showBuyModal) {
        return `app-buy-game`;
      }
    },
    currentProperties() {
      if (this.showBuyModal) {
        return { game: this.game };
      }
    }
  },
  components: {
    'app-login': LoginModal,
    'app-registration': RegistrationModal,
    'app-buy-game': BuyModal,
    'app-header': Header
  }
};
</script>

<style lang="scss" scoped>
.layout-wrapper {
  background-image: url('~assets/background5.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}
@media screen and (max-width: 1620px) {
  .layout-wrapper {
    background-size: auto 100%;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
.mega-sales-header {
  max-width: 1620px;
  margin: 0 auto;
  width: 100%;
  padding-top: 7rem;
  display: flex;
  justify-content: space-between;
  color: white;
}
.search-box {
  width: 100%;
  max-width: 300px;
  input {
    padding-left: 10px;
    outline: none;
    border: none;
    height: 45px;
    background-color: #252525;
    width: 100%;
    color: #656565;
  }
  ::placeholder {
    font-size: 12px;
    color: #656565;
  }
}
.mega-sales-games {
  width: 100%;
}
</style>
