<template>
  <div class="container">
    <div class="user-panel">
      <div
        class="user-panel-navigation"
        :class="{ 'user-panel-navigation--active': showMenu }"
      >
        <div class="user-panel-links">
          <div class="user-panel__logo">
            <span class="user-panel__logo-text">Hello Admin!</span>
          </div>
          <div
            class="user__link"
            :class="{ 'user-link--active': showGeneralSettings }"
            @click="toggleLink('app-general-settings')"
          >
            General
          </div>
          <div
            class="user__link"
            :class="{ 'user-link--active': showAddGame }"
            @click="toggleLink('app-add-game')"
          >
            Add Game
          </div>
        </div>
        <div class="user__link user__link--red">
          <nuxt-link to="/" class="user__link-log-out">Log Out</nuxt-link>
        </div>
      </div>
      <div class="user-panel-content">
        <div class="user-panel-content__header">
          <div
            class="user-panel-btn"
            :class="{ 'user-panel-btn--active': showMenu }"
            @click="toggleMenu"
          >
            <span class="user-menu__up"></span>
            <span class="user-menu__middle"></span>
            <span class="user-menu__down"></span>
          </div>
          <!-- <component :is="component"><div>Hello</div></component> -->
        </div>
        <component :is="component"></component>
      </div>
    </div>
  </div>
</template>

<script>
import GeneralSettings from '~/components/GeneralSettings';
import AddGame from '~/components/AddGame';

export default {
  data: () => ({
    component: 'app-general-settings',
    showGeneralSettings: true,
    showAddGame: false,
    showMenu: true
  }),
  layout: 'default',
  components: {
    'app-general-settings': GeneralSettings,
    'app-add-game': AddGame
  },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
    toggleLink(component) {
      if (component === 'app-general-settings') {
        this.component = 'app-general-settings';
        this.showAddGame = false;
        this.showGeneralSettings = true;
      } else if (component === 'app-add-game') {
        this.component = 'app-add-game';
        this.showAddGame = true;
        this.showGeneralSettings = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
  padding: 0;
  max-width: none;
}
.user-panel {
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  background-color: rgba($color: #000000, $alpha: 0.7);

  * {
    white-space: nowrap;
  }
}
.user-panel-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba($color: #2b7873, $alpha: 0.5);
  width: 0px;
  // max-width: 300px;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

.user-panel-navigation--active {
  width: 15vw;
  // max-width: 300px;
  transition: all 0.4s easy-in-out;
}

.user-panel-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.user__link {
  cursor: pointer;
  padding: 15px;
  color: white;
  transition: all 0.3s ease-in-out;
  border-left: 1px solid #163c3a;
  &:hover {
    // background-color: lightgrey;
    // color: #000000;
    border-left: 3px solid #2b7873;
  }

  &:first-child {
    border-top: 1px solid #383636;
  }
}

.user-panel-links {
  width: 100%;
}

.user__link--red {
  padding: 0;
  border-left: 1px solid #163c3a;

  &:hover {
    border-left: 3px solid red;
  }
}

.user-panel__logo {
  padding: 1rem 1rem 2rem 1rem;
}

.user-panel__logo-text {
  font-size: 2rem;
}

.user-panel-btn {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  width: 20px;
  z-index: 150;

  span {
    width: 20px;
    margin: 2px 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }
}

.user-panel-btn--active {
  .user-menu__middle {
    transform: translateX(-20px);
    opacity: 0;
  }
  .user-menu__up {
    transform: rotate(45deg);
    transform-origin: 1px 2px;
  }
  .user-menu__down {
    transform: rotate(-45deg);
    transform-origin: 2px 1px;
  }
}
.nuxt-link-active {
  text-decoration: none;
  color: white;
}
.user-link--active {
  border-left: 3px solid white;
}
.user__link-log-out{
  display: flex;
  padding: 15px;
  width: 100%;
  height: 100%;
}
</style>
