<template>
  <div class="browse">
    <div class="browse-section" ref="browseSection">
      <div class="browse-games">
        <span class="browse-games__header">Games</span>
        <div class="browse-games-container">
          <transition-group name="list" class="list-game">
            <app-game-card
              v-for="game in filteredGames"
              :key="game.id"
              :game="game"
            />
          </transition-group>
          <div v-if="filteredGames.length === 0" class="browse-games__no-games">
            <span>No Games :(</span>
          </div>
          <div class="browse-games__loading" v-show="showLoading"></div>
        </div>
      </div>
      <div class="browse-filter">
        <span class="browse-filter__header">Filters</span>
        <div class="browse-filter-categories" @click="toggleCategories">
          <div class="browse-filter-categories__name">
            <span>Categories</span
            ><span
              class="browse-filter-categories__arrow"
              :class="{
                'browse-filter-categories__arrow--hide': showCategories
              }"
              ><svg
                height="16px"
                id="Layer_1"
                style="enable-background:new 0 0 512 512;"
                version="1.1"
                viewBox="0 0 512 512"
                width="16px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <polygon
                  points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                />
              </svg>
            </span>
          </div>
          <!-- <transition name="fade"> -->

          <!-- </transition> -->
        </div>
        <div
          class="browse-filter__platform"
          :class="{ 'browse-filter__platform--active': showCategories }"
        >
          <div
            v-for="(category, index) in categories"
            :key="index"
            class="browse-filter__item"
          >
            <input
              :id="category"
              v-model="checkedFilters"
              :name="category"
              :value="category"
              type="checkbox"
              class="browse-filter__checkbox"
            />
            <label :for="category">{{ category }}</label>
          </div>
        </div>
        <div class="browse-filter-categories" @click="togglePlatforms">
          <div class="browse-filter-categories__name">
            <span>Platforms</span
            ><span
              class="browse-filter-categories__arrow"
              :class="{
                'browse-filter-categories__arrow--hide': showPlatforms
              }"
              ><svg
                height="16px"
                id="Layer_1"
                style="enable-background:new 0 0 512 512;"
                version="1.1"
                viewBox="0 0 512 512"
                width="16px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <polygon
                  points="396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 "
                />
              </svg>
            </span>
          </div>
        </div>
        <div
          class="browse-filter__platform"
          :class="{ 'browse-filter__platform--active': showPlatforms }"
        >
          <div
            v-for="(platform, index) in platforms"
            :key="index"
            class="browse-filter__item"
          >
            <input
              :id="platform.replace(' ', '')"
              v-model="checkedFilters"
              :value="platform"
              :name="platform"
              type="checkbox"
              class="browse-filter__checkbox"
            />
            <label :for="platform.replace(' ', '')">{{ platform }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameCard from '~/components/GameCard';
// import Slick from 'vue-slick';
import { mapState } from 'vuex';
import axios from 'axios';

export default {
  data: () => ({
    showCategories: true,
    showPlatforms: true,
    categories: [
      'Action',
      'Adventure',
      'Editors',
      'Puzzle',
      'Racing',
      'RPG',
      'Shooter',
      'Strategy',
      'Survival'
    ],
    platforms: ['Playstation 4', 'Xbox One', 'Nintendo Switch'],
    checkedFilters: [],
    page: 1,
    per_page: 8,
    showGamesArr: [],
    slickOptions: {
      //options can be used from the plugin documentation
      slidesToShow: 4,
      infinite: true,
      accessibility: true,
      adaptiveHeight: false,
      arrows: true,
      dots: true,
      draggable: true,
      edgeFriction: 0.3,
      swipe: true
    },
    showLoading: true,
    allGames: [],
    images: [
      'https://i.pinimg.com/236x/76/81/f9/7681f9733797424ff21e4a6d989c6227--game-title-game-logo.jpg',
      'https://i.pinimg.com/236x/f1/01/4d/f1014de2ddb30aecc6a18c8b6f61b4de--design-ui-game-design.jpg',
      'https://cdnb.artstation.com/p/assets/images/images/016/174/919/large/emelia-douglas-uitut-02.jpg?1551197860',
      'https://cdn1.epicgames.com/epic/offer/TetrisEffect_Portrait_4-3-400x530-6635ef29a551edd516217bb27edaa986.png?h=854&resize=1&w=640'
    ]
  }),
  methods: {
    toggleCategories() {
      this.showCategories = !this.showCategories;
    },
    togglePlatforms() {
      this.showPlatforms = !this.showPlatforms;
    },
    getGames(array) {
      const itemsToShow = this.page * this.per_page;
      for (let index = 0; index < itemsToShow; index++) {
        this.showGamesArr[index] = array[index];
        if (this.showGamesArr[index] === undefined) this.showLoading = false;
      }
      return this.showGamesArr.filter(Boolean);
    },
    handleScroll(event) {
      if (
        window.pageYOffset + window.outerHeight >=
        this.$refs.browseSection.clientHeight
      ) {
        this.page = this.page + 1;
        this.showLoading = true;
      }
    },
    debounce(f, ms) {
      let isCooldown = false;

      return function() {
        if (isCooldown) return;

        f.apply(this, arguments);

        isCooldown = true;

        setTimeout(() => (isCooldown = false), ms);
      };
    },
    throttle(func, ms) {
      let isThrottled = false,
        savedArgs,
        savedThis;

      function wrapper() {
        if (isThrottled) {
          // (2)
          savedArgs = arguments;
          savedThis = this;
          return;
        }

        func.apply(this, arguments); // (1)

        isThrottled = true;
        // this.showLoading = false;

        setTimeout(function() {
          isThrottled = false; // (3)
          // this.showLoading = true;
          if (savedArgs) {
            wrapper.apply(savedThis, savedArgs);
            savedArgs = savedThis = null;
          }
        }, ms);
      }

      return wrapper;
    }
  },
  layout: 'main',
  components: {
    'app-game-card': GameCard
  },
  computed: {
    filteredGames: function() {
      if (this.checkedFilters.length === 0) {
        console.log(this.allGames);
        return this.getGames(this.allGames);
      } else {
        const filteredGamesArr = this.allGames.filter(el => {
          return (
            this.checkedFilters.includes(el.category) ||
            this.checkedFilters.includes(el.platform)
          );
        });
        return this.getGames(filteredGamesArr);
      }
    }
  },
  mounted() {
    (async () => {
      try {
        const response = await axios.get(
          `https://gameshop-626e0.firebaseio.com/.json`
        );
        if (response.data !== null) {
          console.log(response.data);
          let i = 0;
          Object.keys(response.data).forEach(key => {
            if (typeof response.data[key] === 'object') {
              this.allGames.push({
                id: key,
                title: response.data[key].game.title,
                company: response.data[key].game.company,
                category: response.data[key].game.category,
                platform: response.data[key].game.platform,
                image: this.images[i],
                releaseDate: response.data[key].game.releaseDate
              });
              i + 1 == this.images.length ? (i = 0) : (i = i + 1);
            }
          });
        }
      } catch (error) {
        console.log(error);
      }
    })();
  },
  created() {
    if (process.client) {
      window.addEventListener('scroll', this.throttle(this.handleScroll, 2000));
    }
  },
  destroyed() {
    if (process.client) {
      window.removeEventListener(
        'scroll',
        this.throttle(this.handleScroll, 2000)
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.browse {
  min-height: 100vh;
  padding: 70px 0 40px 0;
  color: white;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.browse-section {
  padding-top: 5rem;
  display: flex;
  width: 100%;
  align-items: stretch;
}
.browse-games {
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
}
.browse-filter {
  width: 100%;
  max-width: 250px;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.browse-filter__header {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #3f3d3d;
}

.browse-games__header {
  display: flex;
  align-items: center;
  padding: 15px;
}
.browse-filter-categories {
  border-bottom: 1px solid #292929;
}
.browse-filter__item {
  display: flex;
  align-items: center;
  padding: 15px;
}
.browse-filter__checkbox {
  margin: 0 10px 0 0;
}
.browse-filter-categories__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.browse-filter__platform {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.browse-filter__platform--active {
  max-height: 440px;
  transition: max-height 0.25s ease-in;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
#Layer_1 {
  fill: white;
}
.browse-filter-categories__arrow--hide {
  transform: rotate(180deg);
  transform-origin: 8px 9px;
}
.browse-filter-categories__arrow {
  display: flex;
  align-items: center;
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.browse-games-container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: flex-start;
  height: 90%;
}
.browse-games__no-games {
  margin: auto;
  vertical-align: middle;
}
.list-enter-active,
.list-leave-active {
  transition: opacity 0.2s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
}
.list-game {
  display: flex;
  flex-wrap: wrap;
}
.browse-games__loading {
  width: 60px;
  min-height: 60px;
  background-image: url('~assets/loading1.gif');
  background-size: 100%;
}
</style>
