<template>
  <v-app class="nav-space">
    <!-- <div class="games-block">
      <div class="games-block-header">
        <h3 class="games-block-header__title">New Realeses</h3>
        <nuxt-link to="/browse" tag="button" class="games-block__btn-more"
          >View more</nuxt-link
        >
      </div>
      <div class="games-block-games">
        <carousel
          class="carousel"
          :navigationEnabled="true"
          :paginationEnabled="false"
          :perPage="5"
          :scrollPerPage="false"
        >
          <slide v-for="(game, index) in showGames" :key="index">
            <app-game-card :game="game" />
          </slide>
        </carousel>
      </div>
    </div> -->
    <v-progress-circular
      v-if="loading"
      class="loading"
      :width="2"
      indeterminate
      color="teal lighten-2"
    ></v-progress-circular>
    <div class="games-section">
      <div class="games-block">
        <div class="games-block-header">
          <h3 class="games-block-header__title">New Games</h3>
          <nuxt-link to="/browse" tag="button" class="games-block__btn-more"
            >View more</nuxt-link
          >
        </div>
        <div class="games-block-games">
          <swiper class="swiper" ref="mySwiper" :options="swiperOptions">
            <swiper-slide v-for="(game, index) in showGames" :key="index"
              ><app-game-card :game="game"
            /></swiper-slide>
            <!-- <div class="swiper-pagination" slot="pagination"></div> -->
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
          </swiper>
        </div>
      </div>
    </div>
    <!-- <div class="games-block">
      <div class="games-block-header">
        <h3 class="games-block-header__title">Rental Deals</h3>
        <button class="games-block__btn-more">View more</button>
      </div>
      <div class="games-block-games">
        <carousel
          :navigationEnabled="true"
          :paginationEnabled="false"
          :perPage="5"
          :scrollPerPage="false"
          class="carousel"
        >
          <slide v-for="(game, index) in rentalDeals" :key="index">
            <app-game-card :game="game" />
          </slide>
        </carousel>
      </div>
    </div> -->
  </v-app>
</template>

<script>
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper';
import { differenceInCalendarMonths } from 'date-fns';
import GameCard from '~/components/GameCard';
import 'swiper/css/swiper.css';
import axios from 'axios';
import moment from 'moment';

export default {
  data: () => ({
    nextLabel: "<img src='~/assets/next.png' />",
    prevLabel: "<img src='~/assets/back.png' />",
    swiperOptions: {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    },
    allGames: [],
    images: [
      'https://i.pinimg.com/236x/76/81/f9/7681f9733797424ff21e4a6d989c6227--game-title-game-logo.jpg',
      'https://i.pinimg.com/236x/f1/01/4d/f1014de2ddb30aecc6a18c8b6f61b4de--design-ui-game-design.jpg',
      'https://cdnb.artstation.com/p/assets/images/images/016/174/919/large/emelia-douglas-uitut-02.jpg?1551197860',
      'https://cdn1.epicgames.com/epic/offer/TetrisEffect_Portrait_4-3-400x530-6635ef29a551edd516217bb27edaa986.png?h=854&resize=1&w=640'
    ],
    loading: false
  }),
  layout: 'main',
  components: {
    'app-game-card': GameCard,
    Swiper,
    SwiperSlide
  },
  computed: {
    showGames: function() {
      let carouselGames = [];

      carouselGames = this.allGames.filter(
        element =>
          differenceInCalendarMonths(
            new Date(),
            element.releaseDate.toDate()
          ) <= 3
      );
      return carouselGames;
    },
    swiper() {
      return this.$refs.mySwiper.$swiper;
    }
  },
  mounted() {
    (async () => {
      try {
        this.loading = true;
        const response = await axios.get(
          `https://gameshop-626e0.firebaseio.com/.json`
        );
        this.loading = false;
        if (response.data !== null) {
          let i = 0;
          Object.keys(response.data).forEach(key => {
            if (typeof response.data[key] === 'object') {
              this.allGames.push({
                id: key,
                title: response.data[key].game.title,
                company: response.data[key].game.company,
                category: response.data[key].game.category,
                platform: response.data[key].game.platform,
                image: this.images[i],
                releaseDate: moment(response.data[key].game.releaseDate)
              });
              i + 1 == this.images.length ? (i = 0) : (i = i + 1);
            }
          });
        }
        this.swiper.slideTo(3, 1000, false);
      } catch (error) {
        console.log(error);
      }
    })();
  }
};
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.nav-space {
  width: 100%;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
}

.v-application--wrap {
  display: flex;
  width: 100%;
  max-width: 1620px;
}

.games-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.games-block-header {
  display: flex;
  justify-content: space-between;
}

.games-block-games {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.games-block__btn-more {
  border: 1px solid #414141;
  border-radius: 1px;
  transition: border 0.3s;
  padding: 5px 15px;

  &:hover {
    border: 1px solid #5a5a5a;
  }
}

// .carousel {
//   .VueCarousel-navigation-button {
//     color: white !important;
//   }
// }

.swiper {
  height: 100%;
  width: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    font-weight: bold;
    background-color: rgba($color: #000000, $alpha: 0.8);
    background-position: center;
    background-size: cover;
    color: #fff;
  }

  .swiper-pagination {
    /deep/ .swiper-pagination-bullet {
      background-color: lightgrey;
    }
    /deep/ .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #2b7873;
    }
  }
  /deep/ .swiper-button-next {
    color: #2b7873;
  }
  /deep/ .swiper-button-prev {
    color: #2b7873;
  }
}
.games-section {
  display: flex;
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
</style>
