<template>
  <div
    id="modalLogin"
    class="modal fade"
    role="dialog"
    :class="{ 'modal--show': this.$store.state.showBuyModal }"
  >
    <v-app class="modal-app">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="BuyModal">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent="validate"
          >
            <div class="modal__header">
              <h3>Make your purchase</h3>
              <span class="modal__close" @click="closeModal"></span>
            </div>
            <v-text-field
              v-model="game.name"
              color="teal lighten-2"
              label="Game"
              disabled
            ></v-text-field>
            <!-- <p>{{ this.game }}</p> -->
            <v-text-field
              v-model="name"
              :rules="nameRules"
              color="teal lighten-2"
              label="Your name"
              required
            ></v-text-field>

            <v-text-field
              v-model="phoneNumber"
              :rules="phoneRules"
              color="teal lighten-2"
              label="Your phone"
              required
            ></v-text-field>

            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="Your e-mail"
              color="teal lighten-2"
              required
            ></v-text-field>

            <div class="form-footer">
              <v-btn
                :disabled="!valid"
                color="teal lighten-2"
                class="mr-4"
                type="submit"
              >
                Order
              </v-btn>

              <!-- <v-btn color="error" class="mr-4" @click="reset">
                Clear
              </v-btn> -->
            </div>
          </v-form>
        </div>
      </div>
    </v-app>
  </div>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators';

export default {
  props: {
    game: Object
  },
  data: () => ({
    valid: true,
    name: '',
    nameRules: [v => !!v || 'Name is required'],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ],
    phoneNumber: '',
    phoneRules: [v => !!v || 'Phone number is required']
  }),
  methods: {
    closeModal() {
      this.$store.commit('TOGGLE_MODAL', { showBuyModal: false });
    },
    buyGame() {
      const feedbackObj = {
        gameId: this.game.id,
        gameName: this.game.name,
        userName: this.name,
        userEmail: this.email,
        userPhone: this.phoneNumber
      };
      // console.log(feedbackObj);
    },
    validate() {
      this.$refs.form.validate();
      if (this.$refs.form.validate()) {
        this.buyGame();
      }
    }
    // reset() {
    //   this.$refs.form.reset();
    // }
  }
};
</script>

<style lang="scss" scoped>
.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translateY(-100%);
  transition: all ease-in 0.3s;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  z-index: 100;
}

.modal-content {
  width: 100%;
  border-radius: 6px;
  padding: 25px;
}

.modal--show {
  transform: translateY(0);
}

.modal__close {
  cursor: pointer;
  color: rgb(90, 88, 88);

  &:hover {
    color: lightgrey;
  }

  &::before {
    content: '\02716';
  }
}
.modal-dialog {
  width: 100%;
  max-width: 500px;
  background-color: rgb(26, 24, 24);
  border-radius: 10px;
  margin: auto;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__body {
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  align-items: flex-start;
  border: 2px solid #4f5256;
  padding: 15px;
  margin: 1rem;

  .invalid {
    box-shadow: 0px 0px 7px 2px rgba(255, 0, 0, 1);
  }

  label {
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #4f5256;
    border: 1px solid #4f5256;
    border-radius: 2px;
    padding: 6px 12px;
    outline: none;
  }
}
.modal-app {
  width: 100%;
}
.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__submit-btn {
  font-size: 18px;
  background-color: #2b7873;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #2b7873;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
  &:hover {
    background-color: #004445;
  }
}
.modal__link--forgot {
  font-size: 14px;
  color: grey;
  text-decoration: none;
  background-color: transparent;
}
.modal__link--forgot--link {
  text-decoration: none;
}
.form-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
</style>
