<template>
  <div
    id="modalLogin"
    class="modal fade"
    role="dialog"
    :class="{ 'modal--show': this.$store.state.showModalLogin }"
  >
    <v-app class="modal-app">
      <transition name="fade">
        <v-alert v-if="success" type="success">
          Success
        </v-alert>
      </transition>
      <transition name="fade">
        <v-alert v-if="showError" type="error">
          {{ error }}
        </v-alert>
      </transition>
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="LoginModal">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent="validate"
          >
            <v-progress-circular
              v-if="loading"
              class="loading"
              :width="2"
              indeterminate
              color="teal lighten-2"
            ></v-progress-circular>
            <div class="modal__header">
              <h3>Login</h3>
              <span class="modal__close" @click="closeModal"></span>
            </div>

            <v-text-field
              id="userLogin"
              ref="userLogin"
              v-model="user.login"
              :rules="loginRules"
              color="teal lighten-2"
              label="Email"
            ></v-text-field>
            <v-text-field
              id="userPassword"
              ref="userPass"
              v-model="user.password"
              :rules="passRules"
              color="teal lighten-2"
              type="password"
              label="Password"
            ></v-text-field>
            <div class="modal__footer">
              <v-btn
                :disabled="!valid"
                color="teal lighten-2"
                class="mr-4"
                @click="logIn"
              >
                Login
              </v-btn>
              <transition name="page">
                <nuxt-link to="/resetPassword" class="modal__link--forgot--link"
                  ><span class="modal__link--forgot" @click="logIn"
                    >Forgot your password?</span
                  ></nuxt-link
                >
              </transition>
            </div>
          </v-form>
        </div>
      </div>
    </v-app>
  </div>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators';
import axios from 'axios';

export default {
  data: () => ({
    user: {
      login: '',
      password: '',
      success: false
    },
    valid: true,
    loginRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ],
    passRules: [
      v => !!v || 'Password is required',
    ],
    phoneNumber: '',
    phoneRules: [v => !!v || 'Phone number is required'],
    loading: false,
    error: '',
    showError: false,
    success: false
  }),
  methods: {
    closeModal() {
      this.$store.commit('TOGGLE_MODAL', { login: true });
    },
    logIn() {
      this.$refs.form.validate();
      if (this.$refs.form.validate()) {
        axios
          .post(
            'https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=AIzaSyBLDQUhAL4awHg_m4Oov0QOpKEfswNoJNE',
            {
              email: this.user.login,
              password: this.user.password,
              returnSecureToken: true
            }
          )
          .then(res => {
            this.loading = false;
            this.success = true;


            setTimeout(() => {
              this.closeModal();
            }, 1500);
            setTimeout(() => {
              this.success = false;
            }, 2500);
          })
          .catch(error => {
            this.error = error.response.data.error.message;
            this.showError = true;

            setTimeout(() => {
              this.showError = false;
            }, 2500);
          });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translateY(-100%);
  transition: all ease-in 0.3s;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  z-index: 100;
}

.modal-content {
  width: 100%;
  border-radius: 6px;
  padding: 25px;
}

.modal--show {
  transform: translateY(0);
}

.modal__close {
  cursor: pointer;
  color: rgb(90, 88, 88);

  &:hover {
    color: lightgrey;
  }

  &::before {
    content: '\02716';
  }
}
.modal-dialog {
  width: 100%;
  max-width: 500px;
  background-color: rgb(26, 24, 24);
  border-radius: 10px;
  margin: auto;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__body {
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  align-items: flex-start;
  border: 2px solid #4f5256;
  padding: 15px;
  margin: 1rem;

  .invalid {
    box-shadow: 0px 0px 7px 2px rgba(255, 0, 0, 1);
  }

  label {
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #4f5256;
    border: 1px solid #4f5256;
    border-radius: 2px;
    padding: 6px 12px;
    outline: none;
  }
}

.modal-app {
  width: 100%;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.modal__submit-btn {
  font-size: 18px;
  background-color: #2b7873;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #2b7873;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
  &:hover {
    background-color: #004445;
  }
}
.modal__link--forgot {
  font-size: 14px;
  color: grey;
  text-decoration: none;
  background-color: transparent;
}
.modal__link--forgot--link {
  text-decoration: none;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
</style>
