<template>
  <!-- <v-app> -->
  <div
    class="modal fade"
    role="dialog"
    :class="{ 'modal--show': this.$store.state.showModalRegister }"
  >
    <v-app class="modal-app">
      <transition name="fade">
        <v-alert v-if="success" type="success">
          User was successfully created
        </v-alert>
      </transition>
      <transition name="fade">
        <v-alert v-if="showError" type="error"> {{ error }} </v-alert>
      </transition>
      <v-progress-circular
        v-if="loading"
        class="loading"
        :width="2"
        indeterminate
        color="teal lighten-2"
      ></v-progress-circular>
      <div class="modal-dialog">
        <div class="modal-content" id="RegistrationModal">
          <form class="modal-form" @submit.prevent="signUp">
            <div class="modal__header">
              <h3>Sign Up</h3>
              <span class="modal__close" @click="closeModal"></span>
            </div>
            <div class="modal__body">
              <div class="modal__body__item">
                <v-text-field
                  id="userNameReg"
                  ref="name"
                  v-model="user.name"
                  :error-messages="nameErrors"
                  color="teal lighten-2"
                  label="Username"
                  required
                  @input="$v.user.name.$touch()"
                  @blur="$v.user.name.$touch()"
                ></v-text-field>
              </div>
              <div class="modal__body__item">
                <v-text-field
                  id="userEmail"
                  ref="email"
                  v-model="user.email"
                  :error-messages="emailErrors"
                  color="teal lighten-2"
                  label="Email"
                  required
                  @input="$v.user.email.$touch()"
                  @blur="$v.user.email.$touch()"
                ></v-text-field>
              </div>
              <div class="modal__body__item">
                <v-text-field
                  id="userPasswordReg"
                  ref="password"
                  v-model="user.password"
                  :error-messages="passwordErrors"
                  color="teal lighten-2"
                  label="Password"
                  type="password"
                  required
                  @input="$v.user.password.$touch()"
                  @blur="$v.user.password.$touch()"
                ></v-text-field>
              </div>
              <div class="modal__body__item">
                <v-text-field
                  id="userRepeatPassword"
                  ref="repeatPassword"
                  v-model="user.repeatPassword"
                  :error-messages="repeatPasswordErrors"
                  color="teal lighten-2"
                  label="Repeat password"
                  type="password"
                  required
                  @input="$v.user.repeatPassword.$touch()"
                  @blur="$v.user.repeatPassword.$touch()"
                ></v-text-field>
              </div>
              <div class="modal__body__item modal__body__item--multiply">
                <div class="modal__body__item--medium">
                  <v-text-field
                    id="userFirstName"
                    ref="firstName"
                    v-model="user.firstName"
                    :error-messages="firstNameErrors"
                    color="teal lighten-2"
                    label="First name"
                    required
                    @input="$v.user.firstName.$touch()"
                    @blur="$v.user.firstName.$touch()"
                  ></v-text-field>
                </div>
                <div class="modal__body__item--medium">
                  <v-text-field
                    id="userLastName"
                    ref="secondName"
                    v-model="user.secondName"
                    :error-messages="lastNameErrors"
                    color="teal lighten-2"
                    label="Last name"
                    required
                    @input="$v.user.secondName.$touch()"
                    @blur="$v.user.secondName.$touch()"
                  ></v-text-field>
                </div>
              </div>
              <div class="modal__body__item">
                <v-text-field
                  id="userPhone"
                  ref="userPhone"
                  v-model="user.phone"
                  :error-messages="phoneErrors"
                  color="teal lighten-2"
                  label="Phone"
                  required
                  @input="$v.user.phone.$touch()"
                  @blur="$v.user.phone.$touch()"
                ></v-text-field>
              </div>
            </div>
            <div class="modal__footer">
              <v-btn
                :disabled="this.$v.$invalid"
                color="teal lighten-2"
                class="mr-4"
                type="submit"
              >
                Sign up
              </v-btn>
              <v-btn color="warning" @click="reset">
                Reset
              </v-btn>
            </div>
          </form>
        </div>
      </div>
    </v-app>
  </div>
  <!-- </v-app> -->
</template>

<script>
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators';
import axios from 'axios';

export default {
  validations: {
    user: {
      email: {
        required,
        email
      },
      name: {
        required
      },
      password: {
        required,
        minLength: minLength(6)
      },
      repeatPassword: {
        sameAs: sameAs('password')
      },
      firstName: {
        required
      },
      secondName: {
        required,
        minLength: minLength(2)
      },
      phone: {
        required
      }
    }
  },
  data: () => ({
    valid: true,
    user: {
      email: '',
      name: '',
      password: '',
      repeatPassword: '',
      firstName: '',
      secondName: '',
      phone: ''
    },
    submitStatus: null,
    success: false,
    loading: false,
    error: '',
    showError: false
  }),
  methods: {
    closeModal() {
      this.$store.commit('TOGGLE_MODAL', { registration: false });
      // Object.keys(this.user).forEach(key => {
      //   this.user[key] = '';
      // });
    },
    signUp() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        console.log(this.$v.$invalid);
      } else {
        this.loading = true;
        axios
          .post(
            'https://identitytoolkit.googleapis.com/v1/accounts:signUp?key=AIzaSyBLDQUhAL4awHg_m4Oov0QOpKEfswNoJNE',
            {
              email: this.user.email,
              password: this.user.password,
              returnSecureToken: true
            }
          )
          .then(res => {
            this.loading = false;
            this.success = true;

            setTimeout(() => {
              this.success = false;
            }, 2500);
          })
          .catch(error => {
            this.error = error.response.data.error.message;
            this.showError = true;
            this.loading = false;

            setTimeout(() => {
              this.showError = false;
            }, 2500);
          });
      }
    },
    reset() {
      this.$v.$reset();
    }
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.user.email.$dirty) return errors;
      !this.$v.user.email.email && errors.push('Must be valid e-mail');
      !this.$v.user.email.required && errors.push('E-mail is required');
      return errors;
    },
    nameErrors() {
      const errors = [];
      if (!this.$v.user.name.$dirty) return errors;
      !this.$v.user.name.required && errors.push('Name is required');
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.user.password.$dirty) return errors;
      !this.$v.user.password.required && errors.push('Passwords is required.');
      !this.$v.user.password.minLength &&
        errors.push('Password must have at least 6 letters.');
      return errors;
    },
    repeatPasswordErrors() {
      const errors = [];
      if (!this.$v.user.repeatPassword.$dirty) return errors;
      !this.$v.user.repeatPassword.sameAs &&
        errors.push('Passwords must be identical.');
      return errors;
    },
    firstNameErrors() {
      const errors = [];
      if (!this.$v.user.firstName.$dirty) return errors;
      !this.$v.user.firstName.required && errors.push('First name is required');
      return errors;
    },
    lastNameErrors() {
      const errors = [];
      if (!this.$v.user.secondName.$dirty) return errors;
      !this.$v.user.secondName.required && errors.push('Last name is required');
      return errors;
    },
    phoneErrors() {
      const errors = [];
      if (!this.$v.user.phone.$dirty) return errors;
      !this.$v.user.phone.required && errors.push('Phone is required');
      return errors;
    }
  }
};
</script>

<style lang="scss" scoped>
.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translateY(-100%);
  transition: all ease-in 0.3s;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  z-index: 100;
}

.modal-content {
  width: 100%;
  border-radius: 6px;
  padding: 25px;
}

.modal--show {
  transform: translateY(0);
}

.modal__close {
  cursor: pointer;
  color: rgb(90, 88, 88);

  &:hover {
    color: lightgrey;
  }

  &::before {
    content: '\02716';
  }
}

.modal-app {
  width: 100%;
}

.modal-dialog {
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: auto;
  border-radius: 10px;
  background-color: #1a1818;
  background-size: cover;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}
.modal__body {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  .invalid {
    box-shadow: 0px 0px 7px 2px rgba(255, 0, 0, 1);
  }
}
.modal__body__item--multiply {
  flex-direction: row !important;
  justify-content: space-between;
}

.modal__body__item {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
    height: 35px;
    margin-bottom: 1rem;
    background-color: #4f5256;
    border: 1px solid #4f5256;
    border-radius: 2px;
    padding: 6px 12px;
    outline: none;
    margin-top: 0.5rem;
  }
}

.modal__body__item--medium {
  width: 45%;
}

.modal__body__item--small {
  width: 30%;
  align-self: flex-end;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__submit-btn {
  font-size: 18px;
  background-color: #2b7873;
  border-radius: 10px;
  border: 1px solid #2b7873;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
</style>
