<template>
  <v-app class="reset-app">
    <form action="" class="form-reset" @submit.prevent="reset">
      <div class="form-title">
        <div class="form-title__item"><h2>Request password reset</h2></div>
        <div class="form-title__item form-title__item--default-text">
          Please fill out your email. A link to reset password will be sent
          there.
        </div>
      </div>
      <div class="form-body">
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="validate"
        >
          <v-text-field
            v-model="email"
            :rules="emailRules"
            color="teal lighten-2"
            label="Your email"
            required
            type="email"
          ></v-text-field>
        </v-form>
      </div>

      <div class="form-footer">
        <v-btn
          :disabled="!valid"
          color="teal lighten-2"
          class="mr-4"
          type="submit"
        >
          Order
        </v-btn>
        <transition name="page">
          <!-- <v-btn class="ma-2" outlined color="white" href="/" nuxt
            >Outlined Button</v-btn
          > -->
          <nuxt-link to="/" class="form__back-btn">Back</nuxt-link>
        </transition>
      </div>
    </form>
  </v-app>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';

export default {
  data: () => ({
    valid: true,
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ],
    submitStatus: null
  }),
  methods: {
    reset() {
      this.$refs.form.validate();
    }
  }
};
</script>

<style lang="scss" scoped>
.reset-app {
  width: 100%;
}

.form-reset {
  color: white;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  text-align: left;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
  & div {
    padding: 10px 0;
  }
  .form-title {
    padding-top: 0;
  }
}
.form-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-title__item {
  display: flex;
  justify-content: flex-start;
}
.form-title__item--default-text {
  font-size: 18px;
}
.form-body {
  width: 100%;
}
.form-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.form__submit-btn {
  font-size: 18px;
  background-color: #2b7873;
  border-radius: 10px;
  border: 1px solid #2b7873;
  transition: all 0.3s ease-in-out;
  outline: none;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #004445;
  }
}
.form__back-btn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid rgb(75, 73, 69);
  outline: none;
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease-in, background 0.3s ease-in-out;

  &:hover {
    color: black;
    background-color: white;
  }
}
.invalid {
  box-shadow: 0px 0px 20px -3px rgba(255, 0, 0, 1);
}
.typo__p {
  padding-top: 5px;
  font-family: 'Roboto';
}
</style>
